<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Test Cases</title>
	</head>

<body>
	<h1>Test Cases</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr th:each="case : ${testCases}">
			<td>
				<a th:text="${case.id}" th:href="@{'/testcase/'+${case.id}}"></a>
			</td>
			<td>
				<a th:text="${case.description}" th:href="@{'/testcase/'+${case.id}}"></a>
			</td>
			<td th:text="${case.description}"></td>
		</tr>
	</table>
</body>

</html>
