<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Trugrade - Test Group: ${testGroup}</title>
	</head>

<body>
	<h1>Test Group ${testGroup}</h1>
	
	<h2>Test Cases</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Test Case Name</th>
			<th>Test Case Description</th>
		</tr>
		<tr th:each="testCase : ${testGroup.testCases}">
			<td>
				<a th:text="${testCase.id}" th:href="@{'/' + ${testCase.project.name} + '/testcase/' + ${testCase.id}"></a>
			</td>
			<td>
				<a th:text="${testCase.name}" th:href="@{'/' + ${testCase.project.name} + '/testcase/' + ${testCase.id}"></a>
			</td>
			<td th:text="${testCase.description}"></td>
		</tr>
	</table>
</body>

</html>
